@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
  font-family: "Poiret One", cursive;
}

header,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #373737;
  color: #ffff;
  width: 100%;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  -webkit-box-shadow: 0 3px 20px #707070;
          box-shadow: 0 3px 20px #707070;
}

.banner {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 7%;
  z-index: -10;
}

main {
  color: #373737;
  background-color: #f4f4f4;
  width: 100%;
}

main hr {
  width: 70%;
  margin: 2% 0;
}

#main-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-index img {
  margin: auto;
  display: block;
}

#main-index p {
  text-align: center;
  margin: 0;
}

#main-index .fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

#main-utställningar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-utställningar .white-box {
  background-color: #ffff;
}

#main-utställningar .white-box div {
  text-align: justify;
}

#main-utställningar .white-box div h3 {
  text-align: center;
  margin: 0;
}

#main-utställningar .white-box div h4 {
  text-align: center;
  margin: 0;
}

@media (min-width: 768px) {
  header,
  footer {
    padding: 0.5% 4%;
  }
  header #art-logo {
    width: 6%;
  }
  header h1 {
    font-size: 1.7em;
    margin-left: 2%;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
  }
  header ul {
    width: 40%;
    padding: 0;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    list-style: none;
  }
  header ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #ffff;
  }
  header ul li a:hover {
    color: #c0b283;
  }
  header ul li .active {
    text-decoration: underline;
  }
  header input {
    width: 12%;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
  main {
    padding: 2.5% 0;
  }
  #main-index img {
    width: 30%;
    margin-top: 2.5%;
    -webkit-box-shadow: 0 1px 10px #707070;
            box-shadow: 0 1px 10px #707070;
  }
  #main-index #artist-namn {
    font-size: 20px;
    margin-top: 10px;
  }
  #main-utställningar .white-box {
    width: 70%;
    height: 100%;
    margin: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main-utställningar .white-box img {
    width: 25%;
    height: 100%;
    margin: 5% 0;
    -webkit-box-shadow: 0 1px 10px #707070;
            box-shadow: 0 1px 10px #707070;
  }
  #main-utställningar .white-box div {
    width: 40%;
  }
  #main-kontakt {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "rubrik rubrik" "line line" "adress formular" "linje formular" "karta formular";
  }
  #main-kontakt .rubrik {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: rubrik;
    text-align: center;
  }
  #main-kontakt .line {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: line;
    width: 100%;
    margin: 3% 0 4% 0;
  }
  #main-kontakt .adress {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: adress;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #main-kontakt .adress .p-rubrik {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
  }
  #main-kontakt .adress .p-adress {
    line-height: 2.5em;
  }
  #main-kontakt .line-two {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: linje;
    width: 90%;
    margin: 4% 0 8% 0;
  }
  #main-kontakt .karta {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: karta;
    height: 300px;
  }
  #main-kontakt .karta iframe {
    width: 90%;
    height: 100%;
    border: 1px solid #dbdbdb;
  }
  #main-kontakt .formular {
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: formular;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  #main-kontakt .formular .p-rubrik {
    font-size: 1.5em;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 10%;
    margin-top: 0;
  }
  #main-kontakt .formular input {
    border: 0;
    width: 90%;
    height: 7%;
    margin-top: 1.5%;
    margin-bottom: 5%;
  }
  #main-kontakt .formular label {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 10%;
  }
  #main-kontakt .formular #meddelande {
    height: 30%;
  }
  #main-kontakt .formular a {
    width: 15%;
    background-color: #c0b283;
    padding: 1.5%;
    text-align: center;
    text-decoration: none;
    color: #373737;
    border-radius: 2.5px;
  }
  footer {
    margin-top: 30px;
    height: 80px;
  }
  footer #social-media {
    margin-left: auto;
  }
  footer #social-media .social-media-logo {
    width: 30px;
    height: 30px;
    margin: 5px;
  }
}
/*# sourceMappingURL=style.css.map */