@import url("https://fonts.googleapis.com/css?family=Poiret+One");

$font-alt: "Poiret One", cursive;

$clr-hf: #373737;
$clr-bg: #f4f4f4;
$clr-gold: #c0b283;
$clr-shd: #707070;
$clr-shd-i: #928d8d;
$clr-white: #ffff;
$clr-gray: rgb(219, 219, 219);
$clr-silk: #dcd0c0;

* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: $clr-bg;
  font-family: $font-alt;
}

// header

header,
footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $clr-hf;
  color: $clr-white;
  width: 100%;
}
header {
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0px 5px 16px 0px $clr-shd;
  .logo-box {
    text-decoration: none;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    padding: 1%;
    .art-logo {
      width: 100%;
    }
  }
  h1 {
    font-size: 15px;
    width: 20%;
    text-align: center;
    margin: 1%;
    padding: 1%;
  }
  .icon {
    margin: 1% 1% 1% auto;
    padding: 1%;
    #icon1 {
      display: flex;
      font-size: 25px;
    }
    #icon2 {
      display: none;
      font-size: 20px;
    }
  }
  input {
    display: none;
    font-family: $font-alt;
    border: none;
    position: absolute;
    left: 50%;
    width: 30%;
    height: 30%;
    border-radius: 10px;
    margin: 0;
    padding: 0;
  }
  .search-button {
    color: $clr-white;
    background-color: $clr-hf;
    border: none;
    cursor: pointer;
    font-size: 17px;
    position: absolute;
    left: 82%;
    margin: 0;
    padding: 0;
  }
  .fa-share-alt {
    display: none;
  }
  ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    list-style: none;
    background: rgba(7, 7, 7, 0.5);
    width: 100%;
    align-items: center;
    margin: 0;
    padding: 10px;
    li {
      padding: 10px;
      a {
        color: $clr-white;
        text-decoration: none;
        margin: 0;
        padding: 0;
      }
      .utstallningar {
        display: flex;
        #icon3 {
          display: flex;
          margin-left: 5px;
        }
        #icon4 {
          display: none;
          margin-left: 5px;
        }
      }
      .active {
        text-decoration: underline;
      }
      .dropdown-content {
        display: none;
        flex-direction: column;
        align-items: center;
        a {
          font-size: 14px;
          padding-top: 20px;
        }
      }
    }
  }
}
.banner {
  width: 100%;
  position: relative;
  top: 50px;
  z-index: -10;
}

// main

main {
  color: $clr-hf;
  background-color: $clr-bg;
  width: 100%;
  hr {
    width: 70%;
    margin: 0;
  }
  .scroll-top {
    margin-left: auto;
    padding: 10px;
    font-size: 3em;
    color: $clr-hf;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

#main-index,
#main-pagaende,
#main-kommande,
#main-tidigare {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// mobil layout hemsida

#main-index {
  margin-top: 46px;
  padding-bottom: 10.5%;
  box-shadow: 0 0 16px $clr-shd-i;
  div {
    a {
      img {
        margin: auto;
        display: block;
        width: 85%;
        margin: 2% auto;
      }
    }

    p {
      text-align: center;
      margin: 0;
    }
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}

// mobil layout pågående utstallningar sida

#main-pagaende {
  .white-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $clr-white;
    width: 95%;
    margin: 2% 0;
    img {
      cursor: pointer;
      width: 70%;
      box-shadow: 0px 8px 16px 0px $clr-shd;
      margin: 5% 0;
    }
    img:hover {
      opacity: 0.9;
    }
    div {
      margin: 5%;
      text-align: justify;
      h3 {
        text-align: center;
        margin: 0;
      }
      h4 {
        text-align: center;
        margin: 0;
      }
    }
  }
}

// overlay och slideshow pagaende sida

.overlay {
  position: fixed;
  display: none;
  width: 90%;
  height: 70%;
  top: 15%;
  left: 5%;
  background-color: rgba(55, 55, 55, 0.9);
  .button {
    display: flex;
    justify-content: flex-end;
    position: relative;
    top: -100%;
    a {
      cursor: pointer;
      color: $clr-white;
      margin: 10px;
      padding: 5px;
    }
  }
}
.overlay-bild {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  #pawel,
  #hudson,
  #fabian,
  #amine,
  #aman,
  #fabian,
  #daniele {
    width: 60%;
  }
  #gustavo,
  #andrey,
  #diana,
  #robert,
  #mihai,
  #ingennamn {
    width: 80%;
  }
}

// slideshow pagaende sida

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: $clr-white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

// mobil layout kommande utstallningar sida

#main-kommande {
  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 90%;
      margin: 10px;
      box-shadow: 0px 8px 16px 0px $clr-shd;
    }
    #jg-bild {
      width: 70%;
    }
    h2 {
      text-align: center;
      margin: 0;
    }
    p {
      margin: 0 0 30px 0;
    }
  }
}

// mobil layout tidigare utstallningar sida

#main-tidigare {
  section {
    width: 90%;
    margin: 10px;
    img {
      width: 100%;
      box-shadow: 0px 8px 16px 0px $clr-shd;
    }
    p {
      text-align: center;
      margin-top: 0;
      padding: 10px;
      background-color: $clr-white;
    }
  }
}

// mobil layout kontaktsida

#main-kontakt {
  margin-top: 80px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "rubrik"
    "line"
    "adress"
    "karta"
    "formular";
  .rubrik {
    grid-area: rubrik;
    text-align: center;
  }
  .line {
    grid-area: line;
    width: 100%;
    margin: 3% 0 4% 0;
  }
  .adress {
    grid-area: adress;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .p-rubrik {
      font-size: 1.5em;
      margin: 0;
      padding: 0;
    }
    .p-adress {
      line-height: 2.5em;
    }
  }
  .line-two {
    display: none;
  }
  .karta {
    grid-area: karta;
    height: 300px;
    iframe {
      width: 100%;
      height: 100%;
      border: 1px solid $clr-gray;
    }
  }

  // mobil layout kontaktsida formulär

  .formular {
    grid-area: formular;
    display: flex;
    flex-direction: column;
    margin: 20px;
    .p-rubrik {
      font-size: 1.5em;
      align-self: flex-start;
      margin-left: 0;
      margin-top: 0;
    }
    input {
      border: 0;
      width: 100%;
      height: 40px;
      margin-top: 1.5%;
      margin-bottom: 5%;
    }
    label {
      align-self: flex-start;
    }
    #meddelande {
      height: 130px;
    }
    sup {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
    a {
      width: 20%;
      background-color: $clr-gold;
      padding: 1.5%;
      text-align: center;
      text-decoration: none;
      color: $clr-hf;
      border-radius: 2.5px;
      margin-left: auto;
    }
  }
}

// footer mobil layout

footer {
  height: 110px;
  padding: 5px;
  justify-content: center;
  .social-media {
    margin-bottom: 15px;
    i {
      cursor: pointer;
      font-size: 35px;
    }
  }
}

// desktop layout

@media (min-width: 768px) {

  header,
  footer {
    padding: 0.5% 4%;
  }

  // header för alla desktop sidor

  header {
    .logo-box {
      width: 6%;
      padding: 0;
      margin: 0;
      .art-logo {
        margin: auto;
      }
    }
    h1 {
      font-size: 1.7em;
      margin: 0 auto;
      padding: 0;
      width: auto;
    }

    // desktop navigering

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 40%;
      margin: auto;
      list-style: none;
      position: relative;
      top: 0;
      background: none;
      li {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        a {
          text-decoration: none;
          font-size: 14px;
          color: $clr-white;
        }
        a:hover {
          color: $clr-gold;
        }

        // dropdown navigering (desktop)

        .utstallningar {
          display: flex;
          cursor: pointer;
          #icon3 {
            display: flex;
          }
          #icon4 {
            display: none;
          }
          a {
            margin: 0;
            padding: 0;
          }
        }
        .dropdown-content {
          display: none;
          background: rgba(7, 7, 7, 0.5);
          position: absolute;
          top: 80%;
          padding: 1%;
          a {
            display: block;
            padding: 10px;
          }
        }
      }
    }

    // input, sök icon och share icon (desktop)

    input {
      position: unset;
      display: block;
      width: 12%;
      height: 20px;
      margin: 0 0 0 auto;
      border-radius: 20px;
      font-size: 14px;
    }
    .search-button {
      position: unset;
      display: block;
      margin-left: 5px;
    }
    .fa-share-alt {
      display: block;
      font-size: 25px;
      cursor: pointer;
      margin: auto 0 auto auto;
    }

    // hamburgare meny mobil layout

    .icon {
      display: none;
    }
  }

  // banner i hemsida (desktop)

  .banner {
    position: sticky;
    top: 40px;
  }

  // main för alla sidor (desktop)

  main {
    padding: 2.5% 0 5% 0;
    .scroll-top {
      position: relative;
      top: 50px;
      right: 20px;
    }
  }

  #main-index,
  #main-pagaende,
  #main-kommande,
  #main-tidigare,
  #main-kontakt {
    margin-top: 60px;
  }

  // hemsida (desktop)

  #main-index {
    box-shadow: 0px -2px 16px 0px $clr-shd;
    margin-top: 0;
    padding-bottom: 5%;
    div {
      width: 35%;
      a {
        img {
          width: 80%;
          margin-top: 2.5%;
          box-shadow: 0px 8px 16px 0px $clr-shd;
        }
      }
      .artist-namn {
        font-size: 20px;
        margin-top: 10px;
      }
    }
  }

  // pågående utstallningar sida (desktop)

  #main-pagaende {
    .white-box {
      margin: 30px;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      width: 70%;
      img {
        width: 25%;
      }
      div {
        width: 40%;
        margin: 2%;
      }
    }
  }

  // overlay och slideshow pagaende sida (desktop)

  .overlay {
    width: 60%;
    height: 80%;
    top: 12%;
    left: 20%;
  }
  .overlay-bild {
    #pawel,
    #hudson,
    #fabian,
    #amine,
    #aman,
    #fabian,
    #daniele {
      width: 45%;
    }
    #gustavo,
    #andrey,
    #diana,
    #mihai {
      width: 70%;
    }
    #robert {
      width: 60%;
    }
    #ingennamn {
      width: 70%;
    }
  }

  // kommande utstallningar sida (desktop)

  #main-kommande {
    div {
      width: 50%;
      margin: 30px;
      img {
        width: 100%;
        margin: 0 0 10px 0;
      }
      #jg-bild {
        width: 60%;
      }
      p {
        margin: 0;
      }
    }
  }

  // kontakt sida (desktop)

  #main-kontakt {
    width: 70%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "rubrik rubrik"
      "line line"
      "adress formular"
      "linje formular"
      "karta formular";
    .line-two {
      display: block;
      grid-area: linje;
      width: 90%;
      margin: 4% 0 8% 0;
    }
    .karta {
      iframe {
        width: 90%;
      }
    }

    // desktoplayout formulär i kontaktsida

    .formular {
      margin: 0;
      align-items: flex-end;

      .p-rubrik,
      label {
        margin-left: 10%;
      }
      input {
        width: 90%;
      }
      #meddelande {
        height: 30%;
      }
      a {
        width: 15%;
        margin: 0;
      }
    }
  }

  // tidigare utstallningar sida (desktop)

  #main-tidigare {
    section {
      display: grid;
      margin: 30px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 2%;
      width: 70%;
      img {
        width: 100%;
      }
      p {
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }

  // footer desktop

  footer {
    height: 80px;
    justify-content: unset;
    .social-media {
      margin-left: auto;
      margin-bottom: 0;
      i {
        margin: 4px;
        font-size: 30px;
      }
    }
  }
}
